{% extends 'base.html' %}
{% block content %}
    <div class="home-container">
        {% for post in posts %}
        <div class="post" id="post-{{ post.id }}">
            <h2>{{ post.user.username }}</h2>
            {% if post.user == request.user %}
                <!-- Only show this button to the user who created the post -->
                <button class="delete-post-btn" onclick="deletePost({{ post.id }})">포스트 삭제</button>
            {% endif %}
            <img src="{{ post.image.url }}" alt="포스트 사진" >
            <div class="like">
                <!-- Comment button -->

                <!-- Like button -->
                <button class="like-btn" data-post-id="{{ post.id }}" onclick="onClickLike({{ post.id }})">
                    {% if post.is_liked %}
                        <i class="fa-solid fa-heart"></i>
                    {% else %}
                        <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </button>
                <span class="like-count" data-post-id="{{ post.id }}">{{ post.likes.count }} likes</span>

        
            </div>
            <!-- Comment Section -->
                <div class="comments" id="comments{{ post.id }}" >
                <!-- Comment Form -->
                <form id="comment-form-{{ post.id }}" onsubmit="addComment({{ post.id }}); return false;">
                    <input type="text" name="content" placeholder="Add a comment...">
                    <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                </form>
                <!-- Comments List -->
                <div id="comments-list-{{ post.id }}">
                    {% for comment in post.comments.all %}
                        <div class="comment" id="comment-{{ comment.id }}">
                            <span>{{ comment.user.username }}: {{ comment.content }}</span>
                            {% if comment.user == request.user %}
                                <button onclick="deleteComment({{ post.id }}, {{ comment.id }})"><i class="fa-solid fa-trash"></i></button>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    {% endfor %}
{% endblock %}


