@import "./reset.css";

@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* base.html */
/* navigation bar */
.navbar {
    justify-content: space-evenly;
    background-color: #ff758f;
}

body{
    background: url('../image/bg.jpg') no-repeat;
    background-size: cover;
    opacity: 0.9; 
    font-family: 'JalnanGothic', sans-serif;

}

.nav-item {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.nav-item:first-child > span{
    color: #ffccd5;
}

/* container */
.idea-container {
    background: rgba(247, 149, 167, 0.5); 
    margin: 180px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title, .subtitle{
    color: #001845;
}

.idea-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.idea {
    background: #bde0fe;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.idea img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}



.idea-image {
    position: relative;
    display: inline-block;
}

.favorite-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.favorite-btn i {
    color: gray; 
}

.favorite-btn.favorited i {
    color: yellow; 
}

form {
    align-self: flex-end; 
}


select {
    padding: 5px;
    margin-right: 10px; 
}



form {
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: right;
}

form input,
form textarea,
form select,
form button {
    margin-bottom: 1rem; 
    width: 100%; 
}


.btn-success {
    cursor: pointer;
    padding: 10px 15px; 
}



/* Idea detail */
.idea-detail-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.idea-image img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.idea-info {
    flex-grow: 1;
}

.title-and-favorite {
    display: flex;
    align-items: center;
}

.title-and-favorite .title {
    margin-right: 10px;
}

.favorite-btn {
    cursor: pointer;
    background: none;
    border: none;
}



.action-buttons {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
}

.action-buttons .btn {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.action-buttons .btn, .action-buttons form {
    margin: 0; 
    padding: 10px 15px; 
}

.action-buttons form {
    display: inline; 
}
.fa-solid.fa-star.favorited {
    color: gold; 
}

.fa-solid.fa-star {
    color: gray; 
}


.title {
    margin-right: 10px; 
}


/* Devtool */

.devtool-list-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    max-width: 1200px; 
    margin: auto;
}

.devtool-row {
    display: flex;
    border-bottom: 1px solid #ccc; 
    padding: 10px;
}

.devtool-name, .devtool-type, .devtool-description {
    flex: 1; 
    padding: 5px 10px; 
}



.devtool-row-separator {
    height: 1px; 
    background-color: #ccc; 
    margin: 10px 0; 
}


/* Pagination */
.idea-pagination a {
    padding: 5px;
    margin: 2px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
}

.idea-pagination strong {
    padding: 5px;
    margin: 2px;
    border: 1px solid #000;
    color: #000;
}

