{% extends 'base.html' %}

{% block content %}
<div class="idea-detail-container">
    <div class="idea-info">
            <h1 class="name">{{ devtool.name }}</h1>
        <div class="card-box">
            <div>{{ devtool.type }}</div>
            <div>{{ devtool.description }}</div>
        </div>
        <ul>
            만들 수 있는 SW 목록
            {% for rel_idea in related_ideas %}
            <li>
            <a href="{% url 'ideas:detail' rel_idea.pk %}" >      {{rel_idea.title}}
            </a>
            </li>
            {% endfor %}
        </ul>
        
    </div>
</div>
<div class="action-buttons">
    <a href="{% url 'devtool:update' devtool.id %}" class="btn">수정</a>
    <a href="{% url 'devtool:list' %}" class="btn">목록</a>
    <form action="{% url 'devtool:delete' devtool.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn">삭제</button>
    </form>
</div>
{% endblock %}
