body {
  background-color: black;
  color: white;
  font-size: 1.6rem;
}

header > h1 {
  font-size: 0; /* hide text */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--offset);
  height: var(--header-height);
  width: min(100%, 1200px); /* parent less than 1200 then 100% */
  margin: auto; /* L,R margin equal value */
}
.desktop-menu {
  display: flex;
  font-size: 1.8rem;
  gap: var(--gutter);
}
.desktop-menu > li:hover {
  color: var(--green);
}
@media screen and (max-width: 700px) {
  .desktop-menu {
    display: none;
  }
}

.batch-header{
  padding: 0 var(--offset);
  width: min(100%, 1200px); 
  margin: auto;
}

.batch-header > #header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: var(--gutter);
}

.batch-header > div > h2{
  font-size: 2.2rem;
  font-weight: bold;
}

.batch-header > div > a::after {
  /* arrow */
  font-family: 'remixicon' ;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  content: '\ea6e';
  margin-right: 5px; 
  font-size: 1.6rem; 
}