

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'GmarketSansMedium';
    margin: 0;
    padding-top: 40px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ffc8dd;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ffc8dd;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    text-shadow: 0px 2px 0px #fcbfcb;
    -webkit-text-stroke: 1px black;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: normal;
}

a:hover {
    text-decoration: underline;
}
.login-container {
    width: 300px; 
}
