<!-- idea_create.html -->
{% extends 'base.html' %}
{% block head %}
  <title>idea_create</title>
{% endblock %}

{% block content %}
<div class="idea-container">
    <h1 class="title">Idea Register</h1>
    <h2 class="subtitle">아이디어 등록 페이지입니다. 당신의 아이디어를 잊지 말고 기록하세요!</h2>
  <form action="{% url 'ideas:create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div>
{% endblock %}
